*{
    padding: 0;
    margin: 0;
}
.container{
    margin: 0 auto;
    height: 50vh;
    width: 960px;
    background: #c68b8b;
    margin-top: 25vh;
    border: 10px dashed red;
}

h1{
    text-align: center;
    height: 75px;
    text-transform: uppercase;
    font-size: 30px;
    color: #2f5d43;
    padding-top: 25px;
}
span{
    color: #f8dddd;
}
.gender{
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}
.gen{
    width: 50px;
}
.gen1:hover{
    color: #fff;
}
input[type=radio]{
    height: 25px;
}
.old{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}
select{
    margin-left: 20px;
    margin-right: 100px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}
h2{
    height: 40px;
    text-align: center;
    color: green;
    text-transform: uppercase;
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    margin-top: 15px;
}
h3{
    text-align: center;
    color: #fff;
    font-style: italic;
    text-transform: capitalize;
}
h3 span{
    color: red;
}
input[type=submit]{
    height: 40px;
    width: 100px;
    margin: 0 auto;
    font-size: 30px;
    background: rgba(150, 116, 116, 0.81);
    margin-top: 20px;
    margin-left: 450px;
}
input[type=submit]:hover{
    color: #fff;
    background: rgba(204, 40, 40, 0.41);
}
